<div class="wrapper">
  <div nz-row [ngStyle]="{height: '100%'}">
    <div nz-col nzSpan="10" class="left">
      <div class="title">
        数据加载
      </div>

      <div class="left-content">
        <div nz-row class="slide">
          <div nz-col nzSpan="10" class="loading-img">
            <nz-upload
              [nzHeaders]="{ authorization: 'authorization-text' }"
              [(nzFileList)]="uploadFileList"
              (nzChange)="handleChange($event)">
              <img src="/assets/img/loading.png" width="60%"/>
            </nz-upload>
          </div>
          <div nz-col nzSpan="14">
            <div class="slide-title">时间滑块:
              <nz-input-number
                [nzMin]="0"
                [nzMax]="160"
                [ngStyle]="{color:'red', 'border-color': 'grey'}"
                [nzFormatter]="formatterSecond"
                [nzParser]="parserSecond"
                [(ngModel)]="timeValue"
              ></nz-input-number>
            </div>
            <div class="slide-content">
              <nz-slider [nzMin]="0" [nzMax]="160"
                         [(ngModel)]="timeValue"
                         (ngModelChange)="slideChange()"></nz-slider>
            </div>
          </div>
        </div>
        <div nz-row class="person">
          <div nz-col nzSpan="10">
            <div class="sub-title">个人信息</div>
            <div class="person-content">
              <div class="user">
                <span class="input-title">用户</span>
                <span class="input-content">
                  <input nz-input [(ngModel)]="user" [ngStyle]="{color:'red'}" name="user" readonly>
                </span>
              </div>
              <div class="date">
                <span class="input-title">日期</span>
                <span class="input-content">
                  <input nz-input readonly [(ngModel)]="formatDate" name="formatDate" [ngStyle]="{color:'red'}">
                </span>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="14">
            <div class="sub-title">预处理信号</div>
            <div class="pre-sig-content" style="height: 200px;">
              <div echarts [options]="singleLineOption"></div>
            </div>
          </div>
        </div>
        <div nz-row class="cards">
          <div nz-col nzSpan="10">
            <div class="sub-title">选项卡</div>
            <div class="selective-content">
              <div class="selective-item" (click)="handleSelect(1)">
                <img src="/assets/img/heart.png" width="68%">
                <span>心电</span>
              </div>
              <div class="selective-item" (click)="handleSelect(2)">
                <img src="/assets/img/brain.png" width="68%">
                <span>脑电</span>
              </div>
              <div class="selective-item" (click)="handleSelect(3)">
                <img src="/assets/img/hand.png" width="68%">
                <span>皮电</span>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="14">
            <div class="sub-title">原始信号</div>
            <div class="origin-sig-content">
              <div echarts [options]="lineOption"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="5" class="middle">
      <div class="title">
        诊断
      </div>
      <div class="content">
        <div nz-row class="auto-analyse-result">
          <div nz-col nzSpan="24">
            <div class="sub-title">自动诊断结果</div>
            <div class="auto-content">
              <div class="auto-content-result">
                <span class="input-title">分析结果</span>
                <span class="input-content">
                  <input nz-input [(ngModel)]="state" name="state"
                         style="text-align: center"
                         [ngStyle]="state=='抑郁'?{color: 'red'}:{color:'green'}" readonly/>
                </span>
              </div>
              <div class="auto-content-dashboard">
                <div echarts [options]="dsOption"></div>
              </div>
            </div>
          </div>
        </div>
        <div nz-row class="analyse">
          <div nz-col nzSpan="24">
            <div class="sub-title">分析</div>
            <div class="analyse-button" (click)="analyseState()">
              <img src="/assets/img/status.png" width="60%"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="9" class="right">
      <div class="title">
        结果分析
      </div>
      <div class="content">
        <div nz-row class="data-result">
          <div nz-col nzSpan="24">
            <div class="sub-title">特征显著性分析</div>
            <div class="chart" echarts [options]="scOption"></div>
            <div class="table">
              <table>
                <tr>
                  <th [rowSpan]="2" class="cell">心电</th>
                  <th class="cell-th">SDNN</th>
                  <th class="cell-th">RMSSD</th>
                  <th class="cell-th">PNN50</th>
                  <th class="cell-th">频域特征</th>
                  <th class="cell-th">样本熵</th>
                </tr>
                <tr>
                  <td *ngFor="let item of tableHeart">
                    {{item ? (item | number:"0.2-2"):'-'}}
                  </td>
                </tr>
                <tr>
                  <th [rowSpan]="2" class="cell">脑电</th>
                  <th class="cell-th">复杂度</th>
                  <th class="cell-th">近似熵</th>
                  <th class="cell-th">样本熵</th>
                  <th class="cell-th">模糊熵</th>
                  <th class="cell-th">差分熵</th>
                </tr>
                <tr>
                  <td *ngFor="let item of tableBrain">
                    {{item ? (item | number:"0.2-2"):'-'}}
                  </td>
                </tr>
                <tr>
                  <th [rowSpan]="2" class="cell">皮电</th>
                  <th class="cell-th">均值</th>
                  <th class="cell-th">标准差</th>
                  <th class="cell-th">样本熵</th>
                  <th class="cell-th">模糊熵</th>
                  <th class="cell-th">皮电水平</th>
                </tr>
                <tr>
                  <td *ngFor="let item of tableSkin">
                    {{item ? (item | number:"0.2-2"):'-'}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
